<ActionBar>
    <Label text="AlsalamoAlejkom ahly"></Label>
</ActionBar>


<StackLayout orientation="vertical" width="210" height="210"
    backgroundColor="lightgray">
       <Button text="Button" (tap)="scan()"></Button>
<GridLayout columns="60, auto, *" rows="60, auto, *" width="230" height="230"
    backgroundColor="lightgray">


<!--     <ListView [items]="devices" (itemTap)="onItemTap($event)"
        style="height:1250px">
        <ng-template let-device="item">
            <FlexboxLayout flexDirection="row">
                <Image [src]="device.imageSrc" class="thumb img-circle">
                </Image>
                <Label [text]="device.name" class="t-12"
                    verticalAlignment="center" style="width: 60%"></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView> -->

</GridLayout>
</StackLayout>

